.pagination {
  
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__link {
    display: inline-block;
    width: 2.5rem;
    height: 2.5625rem;
    border-radius: 1.375rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    font-size: 0.75rem;
    color: rgba(31, 32, 65, 0.5);

    &_active,
    &:hover {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      color: #fff;
    }

    &_next {
      background: url('./images/arrow-forward.png') no-repeat center, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      text-indent: -62500rem;

      &:hover {
        background: url('./images/arrow-forward.png') no-repeat center,
          linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }

    }

  }

  &__content {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    margin: 0.5rem 0 0 0.3125rem;
  }
  
}