.sign-in {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 39px 30px 20px 29px;
  width: 380px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &:nth-child(3){
      margin-bottom: 20px;
    }

    &:nth-child(4){
      margin-bottom: 31px;
      display: block;
    }

  }

}
