mixin rich-checkbox-button(options = {})
  - 
    const { 
      title = '',
      list = [
        {subTitle:'Широкий коридор',text:'Ширина коридоров в номере</br> не менее 91 см.'},
        {subTitle:'Помощник для инвалидов',text:'На 1 этаже вас встретит специалист</br>  и проводит до номера.'},
      ], 
    } = options;
    
  section.rich-checkbox-button=title
    div.div.rich-checkbox-button__wrapper
      div.rich-checkbox-button__item
      -for(let {subTitle,text} of list)  
          div.rich-checkbox-button__item
            label.rich-checkbox-button__check
              input(class='rich-checkbox-button__checkbox' type="checkbox")
              span.rich-checkbox-button__sub-title=subTitle
            div.rich-checkbox-button__text!=text