include ../buttons/buttons.pug

mixin head(options = {})
  - 
    const {
      nameUser = '', 
      text = 'Правила',
      list = [
        {text: 'О нас', isBold : true, href:'color-and-type.html', flag : false},
        {text: 'Услуги', isBold : '' , href:'form-elements.html', flag : true},
        {text: 'Вакансии', isBold : '' , href:'cards.html', flag : false},
        {text: 'Новости', isBold : '' , href:'header-and-footer.html', flag : false},
        {text: 'Соглашения', isBold : '' , href:'https://www.error.com/', flag : true}
      ], 
    } = options;

    const classModifier = 'head__nav-list-item-link_bold';


  header.head
    div(class="head__item")
      a(href="index.html").head__nav-list-item
        img(src="./img/logo.svg" alt="")
      nav.head__nav
        ul.head__nav-list
          -for(let {text,href,flag,isBold} of list)
            -const target = href === 'https://www.error.com/' ? "_blank" : "_self";
            
            li(class="head__nav-list-item")
              a(class=`head__nav-list-item-link ${isBold && classModifier}` href=href target=target )=text
              if(flag)
                button.head__nav-list-item_down-button 

          if (nameUser)
            li.head__nav-list-item
              span.head__nav-list-item-name=nameUser

          else
            li.head__nav-list-item
              +buttons({
                modifier:['border','height-34','min-width-87'],
                text:'войти',
                href:'main-sign-in.html'
              })

            li.head__nav-list-item
              +buttons({
                modifier:['form','height-34','delete-img'],
                text:'зарегистрироваться',
                href:'registration.html',
              }) 