include ../../../components/head/head.pug
include ../../../components/sign-in/sign-in.pug

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin Hotel
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="stylesheet" href="./style.css")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    +head()
    
    div.main-sign-in
      +sign-in()
      
    include ../../../components/footer/footer.pug

    script(src = "index.js")
