.account-registration {
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 20px 30px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 6px;

    &:nth-child(4) {
      margin-bottom: 23px;
    }

    &:nth-child(5) {
      margin-bottom: 19px;
    }
    
    &:nth-child(6) {
      margin-bottom: 9px;
    }

    &:nth-child(8) {
      margin-bottom: 23px;
    }
    
  }

  &__item-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 380px) {
    padding: 5px;
  }
  
}
