include ../footer-navigation/footer-navigation.pug
include ../subscription/subscription.pug

footer.footer
  div.footer__warp
    div.footer__body
      span.footer__text
        | Бронирование номеров в лучшем
        | отеле 2019 года по версии ассоциации
        | «Отельные взгляды»

      nav.footer__nav
          +footer-navigation({title:'навигация',list:[{text:'О нас'},{text:'Новости'},{text:'Служба поддержки'},{text:'Услуги'}]})
          +footer-navigation({title:'о нас',list:[{text:'О сервисе'},{text:'Наша команда'},{text:'Вакансии'},{text:'Инвесторы'}]})
          +footer-navigation({title:'Служба поддержки',list:[{text:'Соглашения'},{text:'Сообщества'},{text:'Связь с нами'}]})
          +subscription({title:'Подписка',text:'Получайте специальные<br> предложения и новости сервиса'})
          
    div.footer__icon
      span.footer__icon-text Copyright © 2018 Toxin отель. Все права защищены.  
      span.footer__icon-items
        a(href="https://twitter.com/?lang=ru")
          img(src="./images/twitter.svg", alt="twitter")   
        a(href="https://ru-ru.facebook.com/")   
          img(src="./images/facebook.svg", alt="facebook")   
        a(href="https://www.instagram.com/?hl=ru")   
          img(src="./images/instagram.svg", alt="instagram")   

