.color-box {
  display: flex;
  font-size: 19px;
  line-height: 28px;
  align-items: center;
  margin-bottom: 20px;

  &__color {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__color_darkShade-100 {
    background-color: #1f2041;
  }

  &__color_darkShade-75 {
    background-color: rgba(31, 32, 65, 0.75);
  }

  &__color_darkShade-50 {
    background-color: rgba(31, 32, 65, 0.5);
  }

  &__color_darkShade-25 {
    background-color: rgba(31, 32, 65, 0.25);
  }

  &__color_darkShade-5 {
    background-color: rgba(31, 32, 65, 0.05);
  }

  &__color_purple {
    background-color: #bc9cff;
  }

  &__color_green {
    background-color: #6fcf97;
  }

  &__text-title {
    font-weight: 700;
  }

  &__text-sub-title {
    font-weight: normal;
  }

}
